### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### Java 클래스 빌드 디렉토리 예외 (src 내부는 제외) ###
!**/src/main/**/build/
!**/src/test/**/build/

# infra 올라가는 파일만 예외처리(!)
infra/**
!infra/docker-compose.yml
!infra/Dockerfile
!infra/prometheus/config/prometheus.yml
!infra/prometheus/config/rule.yml
!infra/config/
!infra/config/init-exporter.sql
!infra/build.gradle.kts

### 환경 변수 및 설정 파일 ###
.env
*.properties
# src/main/resources/application.yml
infra/redis/
infra/mysql/

### Eclipse / Spring Tool Suite (STS) ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
.DS_Store

### 불필요한 기본 문서 제거 ###
HELP.md
